.tecnologiasStyled{
    width: 90%;
    margin: 2% 5% 2% 5%;
    display: flex;
    
}

.styledIcon{
    width: 68px;
    height: 68px;
    padding: 1%;
}

.iconsContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    margin: 1%;
}

.skillsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillsTitle{
    padding: 1%;
}

